<div class="home-page-container" layout="column" ng-controller="HomeController">




    <slick settings="slickConfig">

        <a class="home-slider-3 vh-75" layout="column" layout-align="start center">     
            <img ng-src="assets/RichHoney-Apparel-Homepage-5-v2.jpg" width="100%" />


            <div class="text-over-image dtc v-mid cover ph3 ph4-m ph5-l" hide-sm="" hide-xs="">
                <div class="md-display-1">PREMIUM APPAREL BLANKS</div>
                <div class="md-display-1 lower">CUSTOM LEATHER GOODS</div>
                <div class="md-headline">Designed, developed, and manufactured in a 12,000 square foot 
                    <br> vertically integrated factory in Los Angeles, USA.
                </div>
            </div>


            <div class="mobile-text" hide-gt-sm="">
                <div class="md-display-1">PREMIUM APPAREL BLANKS</div>
                <div class="md-display-1 lower">CUSTOM LEATHER GOODS</div>
                <div class="md-headline">Designed, developed, and manufactured in a 12,000 square foot 
                    <br> vertically integrated factory in Los Angeles, USA.
                </div>
            </div>
        </a>

        <a class="home-slider-4 vh-75" layout="column" layout-align="end center" ui-sref="">
            <img ng-src="assets/Rich-Honey-Leather-slider.png" width="100%" />
            <div class="mobile-text" hide-gt-sm="" layout="column"
                layout-align="center center"></div>
            </a>

        <a class="home-slider-5 vh-75 relative" layout="column" layout-align="end center" ui-sref="">
            <div class="cf vh-75" style="background: url(/assets/Rich-Honey-Kids-BG.jpg) no-repeat center center; background-size: cover;">
                <div class="pa3 pa4-ns white-70 absolute  dn db-ns" style="left: 15%;top: 35%;">

                    <section class="pt5 pb4">
                        <h1 class="fw6 ttu f1">Kids Styles Available</h1>
                        <p class="md-heåadline lh-copy measure f5 mt0">
                            Rich Honey's premium garment dyed blank basics are available in kids' sizes.
                        </p>
                    </section>
                </div>
            </div>


            <!--<img ng-src="assets/Rich-Honey-Kids-BG.jpg" width="100%" />-->

        </a>


        <div class="home-slider-1 vh-75" layout="column" layout-align="end cover">
                        <div class="cf vh-75" style="background: url(/assets/RichHoney-Apparel-Homepage-6-bg.jpg) no-repeat center center; background-size: cover;">
               
                <div class="pa3 pa4-ns dn db-ns w-50 fr tc">

                    <section class="pt5 pb4 center w-70">
                        <div class="dtc v-mid">
                            <div class="top-text">
                                <div class="md-display-2 dib rc" layout="row" layout-align="center center">
                                    <span class="equals-transformed dib">&nbsp;&nbsp; = &nbsp;</span><span class="pl4">SAY</span>
                                    <span
                                        class="equals-transformed dib">&nbsp;&nbsp; = &nbsp;</span>
                                </div><br/>
                                <div class="md-display-4 db">GOODBYE</div><br/>
                                <div class="md-display-2 db center tc">TO PIECE DYE!</div>
                            </div>
                            <div class="bottom-text" flex="" layout="column" layout-align="center center">
                                <div class="md-headline">GET WITH THE PROGRAM.</div>
                                <div class="md-headline">GET GARMENT DYE.</div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="mobile-text" hide-gt-sm="">
                <div class="top-text">
                    <div class="md-display-2" layout="row" layout-align="center center"><span class="equals-transformed">&nbsp; = &nbsp;&nbsp;</span><span>SAY</span><span class="equals-transformed">&nbsp;&nbsp; = &nbsp;</span></div>
                    <div class="md-display-4">GOODBYE</div>
                    <div class="md-display-2">TO PIECE DYE!</div>
                </div>
                <div class="bottom-text">
                    <div class="md-headline">GET WITH THE PROGRAM.</div>
                    <div class="md-headline">GET GARMENT DYE.</div>
                </div>
            </div>
        </div>

    </slick>
</div>