.home-page-container[layout='column' ng-controller='HomeController']
  slick[settings='slickConfig']
    a.home-slider-3[layout='column' layout-align='start center']
      img[ng-src='assets/RichHoney-Apparel-Homepage-5-v2.jpg']
      .text-over-image
        .md-display-1 PREMIUM APPAREL BLANKS
        .md-display-1.lower CUSTOM LEATHER GOODS
        .md-headline Designed, developed, and manufactured in a 12,000 square foot <br> vertically integrated factory in Los Angeles, USA.
    .home-slider-1[layout='column' layout-align='end center']
      img[ng-src='assets/RichHoney-Apparel-Homepage-6-bg.jpg']
      .text-over-image[layout-align='end start' layout='row']
        .text-container[layout='column' layout-align='space-between center']
          .top-text[flex]
            .md-display-2[layout='row' layout-align='center center']
              span.equals-transformed
                | &nbsp; = &nbsp;&nbsp;
              span SAY
              span.equals-transformed
                | &nbsp;&nbsp; = &nbsp;
            .md-display-4 GOODBYE
            .md-display-2 TO PIECE DYE!
          .bottom-text[flex layout='column' layout-align='end center']
            .md-headline GET WITH THE PROGRAM.
            .md-headline GET GARMENT DYE.

    a.home-slider-2[layout='row' layout-align='start center' ui-sref='categories_men' ]
      img[ng-src='assets/RichHoney-Apparel-Homepage-7-bg.jpg']
      .text-over-image[layout-align='center center']
        .md-display-1 &nbsp;
        .md-display-1 &nbsp;
        .md-display-1 Your Options Are Endless with Garment Dye
  /.home-page-body[layout='row' layout-sm='column' layout-xs='column']
    .product-feature[flex='33' layout-align='center center' flex-sm='100' flex-xs='100']
      .md-headline Product Feature
      .md-title Quality you can feel.
    md-divider[hide-sm hide-xs]
    .made-in-la[flex='33' layout-align='center center' flex-sm='100' flex-xs='100']
      .md-headline Made In La
      .md-title Take a tour of our factory in Los Angeles, CA
    md-divider[hide-sm hide-xs]
    .made-in-la[flex='33' layout-align='center center' flex-sm='100' flex-xs='100']
      .md-headline Service Feature
      .md-title Aaaayooo
