.how-it-works-header {
  height: 32.3vw;
  overflow: hidden;
  position: relative;
  width: 100%;

  .text-header-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 35%;

    .md-display-1 {
      color: $white;
      display: inline-block;
      font-weight: bold;
      padding: 10px 60px;
    }

    .md-subhead {
      color: $white;
    }
  }

  img {
    margin-top: -150px;
  }
}

.how-it-works-body {
  padding: 0 300px 30px;
  position: relative;

  .how-it-works-content {
    .dotted-thing {
      border-left: 2px dashed $light-grey;
      bottom: 0;
      height: 89%;
      left: 0;
      margin-left: 450px;
      position: absolute;
      right: 0;
      top: 0;
    }

    .text-row {
      margin-left: 82px;
      position: relative;
      padding: 50px 0;
      z-index: 2;

      img {
        background-color: $white;
      }

      .text-container {
        margin-left: 50px;

        .md-title {
          font-size: 16px;
        }
      }
    }
  }
}

.how-it-works-footer {
  background-color: $rich-honey-grey-2;
  padding: 50px 80px;
  text-align: center;

  button,
  a {
    background-color: $black !important;
    border-radius: 0;
    color: $white !important;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 25px;
  }

  em {
    color: grey !important;
  }
}


@media screen and (max-width: 1100px) {
  .how-it-works-body {
    padding: 0 200px 30px;

    .how-it-works-content {
      .dotted-thing {
        margin-left: 350px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .how-it-works-header {
    img {
      margin-top: -100px;
    }
  }

  .how-it-works-body {
    padding: 0 150px 30px;

    .how-it-works-content {
      .dotted-thing {
        margin-left: 300px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .how-it-works-body {
    padding: 0 100px 30px;

    .how-it-works-content {
      .dotted-thing {
        margin-left: 250px;
      }
    }
  }
}

@media screen and (max-width: 700px){
  .how-it-works-body {
    padding: 0 50px 30px;

    .how-it-works-content {
      .dotted-thing {
        margin-left: 200px;
      }
    }
  }
}

@media screen and (max-width: 600px){
  .how-it-works-body {
    padding: 0 25px 30px;

    .how-it-works-content {
      .dotted-thing {
        margin-left: 105px;
      }
    }
  }

  .dotted-thing-tall,
  .dotted-thing-short {
    margin-left: 80px !important;
  }

  .text-row {
    margin-left: 30px !important;
    img {
      width: 100px !important;
    }
  }

  .how-it-works-header {
    height: 50vw;

    .text-header-container {
      top: 15%;

      .md-display-1 {
        padding: 0;
      }
    }

    img {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 450px){
  .how-it-works-footer {
    .md-headline {
      font-size: 4vw
    }

    .md-raised {
      font-size: 4vw;
    }

    .md-subhead {
      font-size: 3.5vw;
    }
  }
}
