.our-story-header {
  height: 32.3vw;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  .text-header-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 35%;

    .md-display-1 {
      color: $white;
      display: inline-block;
      font-weight: bold;
      padding: 10px 60px;
    }

    p {
      color: $white;
    }
  }

  img {
    margin-top: -150px;
  }
}

.services-body {
  .text-container {
    padding: 15px 0;
    text-align: center;
  }
}

.our-story-body {
  padding: 30px 0;

  .our-story-text {
    padding: 20px 22%;

    .our-story-first-section,
    .our-story-second-section,
    .our-story-third-section,
    .our-story-fourth-section {
      display: block;
      font-size: 16px;
      padding: 10px;
      text-align: center;
    }
  }

  .fabrics,
  .garment-dye,
  .washes {
    font-size: 16px;
    padding: 0 5%;
    text-align: center;

    .md-title {
      font-weight: bold;
      padding: 5px 0;
    }
  }
}

.our-story-footer {
  font-size: 16px;
  padding: 45px 0 40px;
  text-align: center;
}

@media screen and (max-width: 1280px){
  .our-story-first-section,
  .our-story-second-section,
  .our-story-third-section,
  .our-story-fourth-section {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 960px) {
  .our-story-header {
    img {
      margin-top: -100px;
    }
  }

  .our-story-body {
    .our-story-text {
      padding: 5% 0;
    }
    .fabrics,
    .garment-dye,
    .washes {
      padding: 0;
    }
  }
}

@media screen and (max-width: 600px){
  .our-story-header {
    height: auto;

    .text-header-container {
      top: 5%;
    }

    img {
      margin-top: 0;
    }
  }

  .fabrics,
  .garment-dye,
  .washes {
    font-size: 16px;
    padding: 0 10px;
    text-align: center;
  }
}
