.resource-header {
  background-color: $black;
  color: $white;
  font-weight: bold;
  padding: 0 20px;
}

.left-text {
  font-style: italic;
  text-align: right;

  .title {
    color: $white;
    text-decoration: underline;
  }
}


@import 'fabrics';
@import 'washes';
@import 'dyes';
