.softener-enzyme-content,
.silicone-content,
.hot-wash-content,
.power-wash-content {
  padding: 20px 5px;

  .softener-enzyme-text,
  .silicone-text,
  .hot-wash-text,
  .power-wash-text {
    .md-title {
      padding-bottom: 15px;

      p {
        font-weight: bold;
        padding-bottom: 15px;
      }
    }
  }
}
