.wash-header {
  height: 32.3vw;

  img {
    margin-top: -200px;
  }
}


.softener-enzyme-content,
.silicone-content,
.hot-wash-content,
.power-wash-content {
  padding: 20px 5px;

  .softener-enzyme-text,
  .silicone-text,
  .hot-wash-text,
  .power-wash-text {
    .md-title {
      padding-bottom: 15px;

      p {
        font-weight: bold;
        padding-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .wash-header {
    img {
      margin-top: -150px;
    }
  }

}

@media screen and (max-width: 600px) {
  .wash-header {
    height: 50vw;

    img {
      margin-top: 0;
    }
  }

}
