.apparel-cutting-header {
  height: 32.3vw;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  .text-header-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;

    .md-display-1 {
      background-color: $white;
      color: $black;
      display: inline-block;
      font-weight: bold;
      padding: 10px 60px;
    }
  }

  img {
    margin-top: -200px;
  }
}


.apparel-cutting-body {
  .cutting-text {
    padding: 30px 0 40px;
    text-align: center;
  }

  .cutting-details {
    table {
      border: 1px solid $black;

      tr {
        td {
          font-size: 16px;
          padding-left: 20px;
        }
      }

      tr:nth-child(odd) {
        background-color: $rich-honey-grey-1;
      }

      tr:first-child {
        background-color: $black;

        th {
          color: $white;
          font-size: 20px;
          padding-left: 20px;
        }
      }
    }
  }
}

.cutting-contact-us,
.start-a-project,
.production-contact-us {
  padding: 40px;

  button,
  a {
    background-color: $black !important;
    border-radius: 0;
    color: $white !important;
    font-weight: bold;
  }
}

@media screen and (max-width: 960px) {
  .apparel-cutting-header {
    img {
      margin-top: -150px;
    }
  }

}

@media screen and (max-width: 601px) {
  .apparel-cutting-header {
    height: 50vw;

    img {
      margin-top: 0;
    }
  }

  .cutting-details {
    table:last-child {
      margin-top: 20px;
    }
  }
}
