.apparel-cutting-body {
  .cutting-text {
    padding: 30px 0 40px;
    text-align: center;
  }

  .cutting-details {
    table {
      border: 1px solid $black;

      tr {
        td {
          font-size: 16px;
          padding: 0 10px;
        }
      }

      tr:nth-child(odd) {
        background-color: $rich-honey-grey-1;
      }

      tr:first-child {
        background-color: $black;

        th {
          color: $white;
          font-size: 20px;
          padding-left: 20px;
        }
      }
    }
  }
}

.cutting-contact-us,
.start-a-project,
.production-contact-us {
  padding: 40px;

  button,
  a {
    background-color: $black !important;
    border-radius: 0;
    color: $white !important;
    font-weight: bold;
  }
}
