.apparel-patterning-body {
  .text-container {
    padding: 15px 0;
    text-align: center;
  }

  .conversion-container {
    img {
      height: 20vw;
    }
  }
}

@media screen and (max-width: 960px) {
  .apparel-patterning-body {
    .conversion-container {
      img {
        height: 25vw;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .apparel-patterning-body {
    .conversion-container {
      img {
        height: 35vw;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .apparel-patterning-body {
    .conversion-container {
      img {
        height: 40vw;
      }
    }
  }
}
