.apparel-honey-studio-body {
  padding: 50px 150px;

  .apparel-honey-studio-text {
    p {
      font-size: 16px;
    }
  }

  .apparel-honey-studio-table {
    width: 100%;
  }
}

.honey-studio-table {
  border: 1px solid $black;
  width: 100%;

  tr {
    td {
      font-size: 16px;
      padding-left: 20px;
    }
  }

  tr:nth-child(odd) {
    background-color: $rich-honey-grey-1;
  }

  tr:first-child {
    background-color: $black;

    th {
      color: $white;
      font-size: 20px;
      padding-left: 20px;
    }
  }
}

.studio-features {
  margin: 20px 0;
}

.location {
  margin: 0 0 20px;
}

.honey-studio-book-studio {
  text-align: center;
  width: 100%;

  button,
  a {
    background-color: $black;
    border-radius: 0;
    color: $white;
    font-size: 25px;
    margin: 0 !important;
    padding: 10px 0;
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .apparel-honey-studio-body {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 960px){
  .honey-studio-table {
    margin: 5px 0 20px !important;
  }

  .apparel-honey-studio-body {
    padding: 50px 150px;
  }

  .honey-studio-book-studio {
    button,
    a {
      font-size: 20px;
      padding: 10px 20px;
      width: auto !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .apparel-honey-studio-container {
    margin: 0 !important;
  }

  .honey-studio-book-studio {
    button {
      font-size: 18px;
      padding: 10px 30px;
      width: auto !important;
    }
  }

  .apparel-honey-studio-body {
    padding: 50px 100px;
  }


  .location {
    margin: 20px 0 !important;
  }
}


@media screen and (max-width: 500px) {
  .apparel-honey-studio-body {
    padding: 50px;
  }
}

@media screen and (max-width: 400px) {
  .honey-studio-book-studio {
    button {
      font-size: 6vw;
    }
  }
}
