.apparel-services-header {
  height: 32.3vw;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  .text-header-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;

    .md-display-1 {
      background-color: $white;
      color: $black;
      display: inline-block;
      font-weight: bold;
      padding: 10px 60px;
    }
  }

  img {
    margin-top: -200px;
  }
}

@media screen and (max-width: 960px) {
  .apparel-services-header {
    img {
      margin-top: -150px;
    }
  }

}

@media screen and (max-width: 601px) {
  .apparel-services-header {
    height: 50vw;

    img {
      margin-top: 0;
    }
  }
}
