.services-hub {
  background-image: url('services-header.png');
  background-size: cover;
  color: $white;
  padding: 150px 0 350px;
  text-align: center;

  .md-headline {
    font-size: 2.5vw;
  }

  .md-subhead {
    padding: 50px 0;
  }

  .services-buttons {
    a,
    button {
      border: 1px solid $white;
      border-radius: 0;
      color: $white;
    }
  }
}

.services-description {
  font-size: 16px !important;
}

.services-table-header,
.services-table-body {
  font-size: 14px !important;
  padding-left: 10px !important;
}

.services-table-container {
  table {
    tr {
      td {
        font-size: 16px;
        padding-left: 20px;
      }
    }

    tr:nth-child(odd) {
      background-color: $rich-honey-grey-1;
    }

    tr:first-child {
      background-color: $black;

      th {
        color: $white;
        font-size: 20px;
        padding-left: 20px;
      }
    }
  }

  .first-table,
  .second-table {
    border: 1px solid $black;
    margin-right: 5px;
    width: 35%;
  }
}

.apparel-production-container,
.apparel-patterning-container,
.apparel-marking-grading-container,
.apparel-honey-studio-container,
.apparel-cutting-container {
  font-size: 16px;
}

.start-project-dialog {
  max-height: 90%;
  height: 90%;
  max-width: 60%;
  width: 60%;
}

@media screen and (max-width: 959px) {
  .services-table-container {
    .first-table,
    .second-table {
      width: 50%;
    }
  }
}

@media screen and (max-width: 600px){
  .services-hub {
    .md-subhead {
      padding: 25px 10px;
    }
  }

  .start-project-dialog {
    height: 50%;
    width: 90%;
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch;
  }

}



// Import all the other services scss
@import 'apparel-cutting';
@import 'apparel-marking-grading';
@import 'apparel-patterning';
@import 'apparel-production';
@import 'apparel-honey-studio';
@import 'leather-services';
