@import 'making-of-a-tee-text-border';
.rib-neck-text {
  @extend %moat-image-text-left;
  padding-right: 20%;
  right: 49%;
  top: 57%;
}

.rib-neck-description {
  color: $white;
  padding: 0 20% 0 25%;
  position: absolute;
  right: 30%;
  top: 66%;
}

@media screen and (max-width: 1100px) {
  .rib-neck-description {
    padding: 0 20% 0 11%;
  }
}

@media screen and (max-width: 960px) {
  .rib-neck-description {
    padding: 0 20% 0 5%;
    top: 68%;
  }
}

@media screen and (max-width: 828px) {
  .rib-neck-text {
    font-size: 2.5vw;
    padding-right: 15%;
    top: 54%;
  }
}

@media screen and (max-width: 730px) {
  .rib-neck-description {
    font-size: 1.5vw;
    padding: 0 20% 0 20%;
  }
}

@media screen and (max-width: 610px) {
  .rib-neck-text {
    top: 52%;
  }
}



@media screen and (max-width: 500px){
  .rib-neck-text {
    top: 50%;
  }
}

@media screen and (max-width: 450px) {
  .rib-neck-text {
    padding-right: 10%;
    padding-bottom: 0px;
    top: 56%;
  }
}
