@import 'making-of-a-tee-text-border';

.rib-neck-text {
  @extend %moat-image-text-left;
  padding-right: 20%;
  right: 49%;
  top: 60%;
}

.rib-neck-description {
  color: $white;
  padding: 0 25vw 0 24vw;
  position: absolute;
  right: 30%;
  top: 66%;
}

@media screen and (max-width: 1600px) {
  .rib-neck-description {
    padding: 0 25vw 0 23.5vw;
    top: 67%;
  }
}

@media screen and (max-width: 1280px) {
  .rib-neck-description {
    top: 68%;
  }
}

@media screen and (max-width: 1100px) {
  .rib-neck-description {
    top: 69%;
  }
}

@media screen and (max-width: 1001px) {
  .rib-neck-text {
    padding-bottom: 0 !important;
  }

  .rib-neck-description {
    padding: 0 25vw 0 20vw;
    top: 68%;
  }
}

@media screen and (max-width: 853px) {
  .rib-neck-text {
    font-size: 2.5vw !important;
    top: 57%;
  }

  .rib-neck-description {
    font-size: 1.5vw;
    padding: 0 25vw 0 18vw;
    top: 65%;
  }
}

@media screen and (max-width: 730px) {
  .rib-neck-description {
    top: 68%;
  }
}

@media screen and (max-width: 630px) {
  .rib-neck-text {
    top: 54%;
  }

  .rib-neck-description {
    padding: 0 25vw 0 16vw;
    top: 65%;
  }
}

@media screen and (max-width: 600px) {
  .rib-neck-description {
  }
}

@media screen and (max-width: 500px){
  .rib-neck-text {
    top: 57%;
  }

  .rib-neck-description {
    top: 68%;
  }
}
