@import 'making-of-a-tee-text-border';

.side-seam-text {
  @extend %moat-image-text-right;
  left: 38%;
  padding-left: 20%;
  top: 10%;
}

.side-seam-description {
  color: $white;
  left: 10%;
  padding: 0 20vw 0 48vw;
  position: absolute;
  top: 15%;
}

.inside-care-label-text {
  @extend %moat-image-text-right;
  left: 41%;
  padding-left: 20%;
  top: 60%;
}

.inside-care-label-description {
  color: $white;
  left: 27%;
  padding: 0 25vw 0 34vw;
  position: absolute;
  top: 65%;
}

@media screen and (max-width: 1625px){
  .side-seam-description {
    top: 16%;
  }

  .inside-care-label-description {
    top: 66%;
  }
}

@media screen and (max-width: 1400px){
  .side-seam-description {
    top: 17%;
  }

  .inside-care-label-description {
    // padding: 0 23% 0 34%;
    top: 67%;
  }
}

@media screen and (max-width: 1150px){
  .side-seam-description {
    top: 18%;
  }

  .inside-care-label-description {
    // padding: 0 20% 0 34%;
    top: 68%;
  }
}


@media screen and (max-width: 960px) {
  .side-seam-description {
    top: 20%;
  }

  .inside-care-label-description {
    padding: 0 15vw 0 34vw;
    top: 70%;
  }
}

@media screen and (max-width: 801px) {
  .side-seam-description {
    padding: 0 10vw 0 48vw;
  }
}

@media screen and (max-width: 770px) {
  .side-seam-description {
    font-size: 1.5vw;
    top: 22%;
  }

  .inside-care-label-description {
    font-size: 1.5vw;
    top: 72%;
  }
}

@media screen and (max-width: 682px) {
  .side-seam-text,
  .inside-care-label-text {
    font-size: 2.5vw !important;
    padding-bottom: 0 !important;
  }

  .side-seam-text {
    top: 20%;
  }

  .inside-care-label-text {
    top: 70%;
  }

  .side-seam-description {
    top: 28%;
  }

  .inside-care-label-description {
    top: 78%;
  }
}

@media screen and (max-width: 551px){
  .side-seam-description {
    font-size: 2vw;
    top: 27%;
  }

  .inside-care-label-description {
    font-size: 2vw;
    top: 78%;
  }
}
