@import 'category-accessories';
@import 'category-activewear';
@import 'category-mens';
@import 'category-womens';
@import 'product';

@media screen and (max-width: 600px) {
  .logo-container {
    img {
      height: 40px;
    }

    .fitness-icon {
      height: 30px;
      width: 60px;
    }
  }
}
