.about-header {
  background-image: url('about-header');
  background-size: cover;
  color: $white;
  font-size: 2.5vw;
  padding: 200px 0;
  text-align: center;
}

.about-body {
  .about-text {
    padding: 20px 22%;

    .first-section,
    .second-section,
    .third-section,
    .fourth-section {
      display: block;
      padding: 5px 0;
      text-align: center;
    }
  }

  .fabrics,
  .garment-dye,
  .washes {
    padding: 0 5%;
    text-align: center;

    .md-title {
      font-weight: bold;
      padding: 5px 0;
    }
  }
}

.about-footer {
  padding: 45px 0 40px;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .about-header {
    font-size: 3vw;
    padding: 150px;
  }

  .about-body {
    .about-text {
      padding: 5% 0;
    }
    .fabrics,
    .garment-dye,
    .washes {
      padding: 0;
    }
  }
}

@media screen and (max-width: 600px){
  .about-header {
    font-size: 5vw;
    padding: 100px;
  }
}
