html,
body,
.main-content {
  background-color: $white;
  font-family: 'Lato', sans-serif, arial, helvetica !important;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

.nav {
  md-nav-ink-bar {
    background-color: #000 !important;
  }
}

.contact-us-container,
.create-account-container {
  padding: 40px 60px;
}

.careers-container,
.terms-of-use-container,
.contact-us-container {
  padding: 40px 20vw 60px;
}

.contact-us-container {
  padding: 40px 0 60px 20vw;
}

.inactive-text {
  color: $inactive-text-color !important;
}

.active-text {
  color: $black !important;
  text-decoration: underline !important;
}

@media screen and (max-width: 600px) {
  .careers-container,
  .terms-of-use-container,
  .contact-us-container {
    padding: 20px 5vw;
  }

  .black-back {
    background-color: $rich-honey-black !important;
  }

  .white-back {
    background-color: $white !important;
  }

  .contact-us-container,
  .create-account-container {
    padding: 40px 10px;
  }

}

.logo-svg{
  fill: white;
}

.logo-footer{
  padding-bottom: 20px;
}
