html,
body,
.main-content {
  background-color: $white;
  font-family: 'Lato', sans-serif, arial, helvetica !important;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

.contact-us-container,
.create-account-container {
  padding: 40px 60px;
}

.careers-container {
  padding: 40px 20% 60px;
}



@media screen and (max-width: 600px) {
  .careers-container {
    padding: 20px 5%;
  }

  .contact-us-container,
  .create-account-container {
    padding: 40px 10px;
  }

}
