.apparel-patterning-header {
  background-image: url('pattern-header.png');
  background-size: cover;
  margin: 0 50px;
  padding-top: 350px;
  text-align: center;

  .md-display-1 {
    background-color: $white;
    color: $black;
    font-weight: bold;
    padding: 10px 40px;
  }
}

.apparel-patterning-body {
  .text-container {
    padding: 15px 0;
    text-align: center;
  }
}

@media screen and (max-width: 600px){
  .apparel-patterning-header {
    margin: 0;
  }
}
