// Trying to rerun github
.categories-activewear-header {
  background-image: url('active-wear-header.PNG');
  background-size: cover;
  padding: 250px 0 350px;

  .header-text {
    background-color: $white;
    padding: 10px 30px;

    .md-display-1 {
      margin-bottom: 15px !important;

      span {
        text-decoration: underline
      }

    }
  }
}

@media screen and (max-width: 1200px){
  .categories-accessories-header {
    padding: 200px 0 300px;
  }
}

@media screen and (max-width: 960px){
  .categories-accessories-header {
    padding: 150px 0 250px;
  }
}

@media screen and (max-width: 600px){
  .categories-accessories-header {
    padding: 100px 0 200px;
  }
}
