.categories-womens-header {
  background-image: url('RHA-Womens-Header.png');
  background-size: cover;
  padding: 13% 0 19%;

  .header-text {
    background-color: $white;
    padding: 10px 30px;

    .md-display-1 {
      margin-bottom: 15px !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .categories-womens-header {
    .header-text {
      .md-display-1 {
        font-size: 4vw;
        margin-bottom: 0 !important;
      }

      p {
        font-size: 2vw;
      }
    }
  }
}
