.categories-activewear-header {
  background-image: url('activewear-header.png');
  background-size: cover;
  padding: 250px 0 350px;

  .header-text {
    background-color: $white;
    padding: 10px 30px;

    .md-display-1 {
      margin-bottom: 15px !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  .categories-activewear-header {
    padding: 200px 0 300px;
  }
}

@media screen and (max-width: 960px) {
  .categories-activewear-header {
    padding: 150px 0 250px;
  }
}

@media screen and (max-width: 750px) {
  .categories-activewear-header {
    padding: 125px 0 200px;
  }
}

@media screen and (max-width: 600px){
  .categories-activewear-header {
    padding: 100px 0 150px;

    .header-text {
      .md-display-1 {
        font-size: 4vw;
        margin-bottom: 0 !important;
      }

      p {
        font-size: 2vw;
      }
    }
  }
}

@media screen and (max-width: 500px){
  .categories-activewear-header {
    padding: 75px 0 150px;
  }
}

@media screen and (max-width: 400px){
  .categories-activewear-header {
    padding: 75px 0;
  }
}
