.dye-body {
  padding: 2%;
}

.dye-header {
  background-image: url('dye-header.JPG');
  // background-position: 0 -550px;
  background-size: cover;
  height: 650px;
}

.reactive-dye-content,
.reactive-dye-content,
.pigment-dye-content,
.oil-dye-content {
  padding: 20px 10px;

  .md-title {
    padding-bottom: 15px;

    span {
      font-weight: bold;
      padding-bottom: 15px;
    }
  }
}
