.footer-container {
  background-color: $rich-honey-black;
  color: $white;
  width: 100%;

  .made-in-us-text {
    font-weight: bold;
  }

  .early-access-container {
    padding: 20px 5px;

    a {
      color: $white !important;
    }
  }

  .company-container,
  .customer-service-container,
  .policies-container,
  .connect-container {
    padding: 25px 5px 20px;
  }

  .rich-honey {
    padding: 20px 5px;

    .md-headline:first-child {
      margin: 0 !important;
    }

    .md-headline:last-child {
      margin: 0 !important;
      padding: 0 0 0 8% !important;
    }
  }

  .company-link {
    color: $white;
    cursor: pointer;
    display: block;
    text-align: left;
  }

  .generic-footer-sizing {
    font-size: 14px !important;
  }

  .md-headline,
  .md-title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .social-media-links {
    margin-bottom: 10px;
  }

  .md-button {
    background-color: $white;
    border-radius: 0;
    color: $black;
    font-weight: bold;
    // width: 130px;
  }
}

@media screen and (max-width: 960px) {
  .footer-container {
    .rich-honey,
    .early-access-container {
      text-align: center;
    }
  }
}


@media screen and (max-width: 600px) {
  .footer-container {
    .made-in-the-us {
      img {
        margin-left: -5px !important;
        margin-top: -5px;
        width: 25px;
      }
    }

    .md-button {
      background-color: $white;
      border-radius: 0;
      color: $black;
      font-weight: bold;
      white-space: normal;
    }
  }
}
