.home-page-container {
  .home-page-header {
    background-image: url('RHA-Homepage.png');
    background-size: 100%;
    color: $white;
    padding: 20% 0 10%;

    .md-display-1 {
      padding: 0 30% 2%;
      text-align: center;
    }

    .md-headline {
      text-align: center;
    }
  }

  .fine-leather,
  .sports-wear,
  .made-in-la,
  .product-feature {
    margin: 0 30px 30px;
    text-align: center;

    .md-display-1 {
      font-weight: bold;
    }
  }

  .home-page-body {
    margin: 2% 0;

    md-divider {
      border-right: 2px solid $light-grey;
    }
  }
}

@media screen and (max-width: 1124px){
  .home-page-container {
    .home-page-header {
      .md-display-1 {
        padding: 0 25% 2%;
      }
    }
  }
}

@media screen and (max-width: 899px){
  .home-page-container {
    .home-page-header {
      .md-display-1 {
        padding: 0 20% 2%;
      }
    }
  }
}

@media screen and (max-width: 748px){
  .home-page-container {
    .home-page-header {
      .md-display-1 {
        padding: 0 15% 2%;
      }
    }
  }
}

@media screen and (max-width: 642px){
  .home-page-container {
    .home-page-header {
      .md-display-1 {
        padding: 0 10% 2%;
      }
    }
  }
}

@media screen and (max-width: 563px){
  .home-page-container {
    .home-page-header {
      .md-display-1 {
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 505px) {
  .home-page-container {
    .home-page-header {
      padding: 14% 0 10%;

      .md-display-1 {
        font-size: 3vw;
      }

      .md-headline {
        font-size: 2vw;
      }
    }
  }
}
