.home-page-container {
  .home-page-header {
    background-image: url('homepage-header.png');
    background-size: cover;
    color: $white;
    height: 71vh;

    .md-display-1 {
      margin-top: 5%;
      padding: 0 30% 2%;
      text-align: center;
    }

    .md-headline {
      text-align: center;
    }
  }

  .fine-leather,
  .sports-wear,
  .made-in-la,
  .product-feature {
    margin: 0 30px 30px;
    text-align: center;

    .md-display-1 {
      font-weight: bold;
    }
  }

  .home-page-body {
    margin: 2% 0;

    md-divider {
      border-right: 2px solid $light-grey;
    }
  }
}
