.home-page-container {
  .lower {
    padding-bottom: 10px;
  }

  .fine-leather,
  .sports-wear,
  .made-in-la,
  .product-feature {
    margin: 0 30px 30px;
    text-align: center;

    .md-display-1 {
      font-weight: bold;
    }
  }

  .home-page-body {
    margin: 2% 0;

    md-divider {
      border-right: 2px solid $light-grey;
    }
  }
}

@media screen and (max-width: 748px){
  .home-page-container {
    .md-display-1 {
      font-size: 3vw;
    }

    .md-headline {
      font-size: 2vw;
    }
  }
}
