.account-nav {
  background-color: $rich-honey-black;
  padding: 10px;

  a,
  span {
    color: $white;
  }

  .made-in-the-usa-container {
    padding: 5px;
  }

  .right-side-container {
    a,
    span {
      padding: 5px;
      text-align: center;
    }
  }
}

.added-padding-for-nav {
  padding-top: 7px !important;
}

.right-side-container {
  text-align: right;
}

.nav-links {
  color: $black !important;
  font-size: 14px !important;
  outline: none;
  text-decoration: none;

  &:hover {
    color: $black !important;
    outline: none !important;
    text-decoration: underline;
  }
}

.rich-honey-side {
  .md-list-item-inner {
    font-size: 40px;
    text-align: center;
  }
}

.nav {
  background-color: $black;
  text-transform: none;

  a {
    color: $white;
    font-size: 14px;
    margin: 20px 0 10px 10px;
    outline: none;
  }

  md-menu {
    text-align: center;

    button {
      color: $white;
      font-size: 14px;
      margin: 6px 0 10px 10px;
      text-transform: none;
    }
  }

  md-nav-ink-bar {
    background-color: $white;
  }

  .md-nav-bar {
    background-color: $black;
    height: 70px !important;
    text-transform: none;
    width: 100%;

    .md-nav-item {
      text-align: center;
      text-transform: none;

      a,
      button {
        color: $white;
        text-transform: none;
      }
    }

    .home-page-link {
      a,
      button {
        font-size: 25px;
        font-weight: bold;
        text-transform: none;

        b {
          font-size: 20px;
        }
      }
    }
  }
}

.categories-nav-bar {
  text-align: center;
}

.services-nav-bar {
  text-align: center;

  .link-name {
    font-size: 8px;
    font-weight: bold;
  }

  .md-nav-bar {
    height: 130px;
  }
}

@media screen and (max-width: 600px){
  .logo-container {
    text-align: center;
  }

  .right-side-container {
    text-align: left;
  }
}
