.nav {
  background-color: $black;
  text-transform: none;

  a {
    color: $white;
    font-size: 14px;
    margin: 10px 0 10px 10px;
    outline: none;
  }

  md-menu {
    text-align: center;

    button {
      color: $white;
      font-size: 14px;
      margin: 6px 0 10px 10px;
      text-transform: none;
    }
  }

  md-nav-ink-bar {
    background-color: $white;
  }

  .md-nav-bar {
    background-color: $black;
    text-transform: none;
    width: 100%;

    .md-nav-item {
      text-align: center;
      text-transform: none;

      a,
      button {
        color: $white;
        text-transform: none;
      }
    }

    .home-page-link {
      a,
      button {
        font-size: 25px;
        font-weight: bold;
        text-transform: none;
      }
    }
  }
}

.categories-nav-bar {
  text-align: center;
}
