.our-story-header {
  background-image: url('our-story-header');
  background-size: cover;
  color: $white;
  font-size: 2.5vw;
  padding: 200px 0;
  text-align: center;
}

.our-story-body {
  .our-story-text {
    padding: 20px 22%;

    .our-story-first-section,
    .our-story-second-section,
    .our-story-third-section,
    .our-story-fourth-section {
      display: block;
      font-size: 16px;
      padding: 5px 0;
      text-align: center;
    }
  }

  .fabrics,
  .garment-dye,
  .washes {
    font-size: 16px;
    padding: 0 5%;
    text-align: center;

    .md-title {
      font-weight: bold;
      padding: 5px 0;
    }
  }
}

.our-story-footer {
  font-size: 16px;
  padding: 45px 0 40px;
  text-align: center;
}

@media screen and (max-width: 1280px){
  .our-story-first-section,
  .our-story-second-section,
  .our-story-third-section,
  .our-story-fourth-section {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 960px) {
  .our-story-header {
    font-size: 3vw;
    padding: 150px;
  }

  .our-story-body {
    .our-story-text {
      padding: 5% 0;
    }
    .fabrics,
    .garment-dye,
    .washes {
      padding: 0;
    }
  }
}

@media screen and (max-width: 600px){
  .our-story-header {
    font-size: 5vw;
    padding: 100px;
  }
}
