.resource-header {
  background-color: $black;
  color: $white;
  font-weight: bold;
  padding: 0 20px;
}

.resources-nav-bar {
  .logo-container {
    img {
      height: 61px;
      width: 61px;
    }
  }
}

.left-text {
  font-style: italic;
  text-align: right;

  .title {
    color: $white;
    text-decoration: underline;
  }
}


@media screen and (max-width: 600px){

}

@import 'fabrics';
@import 'washes';
@import 'dyes';
