// Variables
//
// This file contains all definitions for predetermined sizes and colors as according to design
// spec. Thus hex values, font sizes, commonly used borders and the like will all be located in
// this area.

$black: #000;
$white: #fff;
$rich-honey-black: #111111;
$light-grey: #CBCBCB;
