.terms-of-use-container[layout='column']
  h1.md-headline[style='margin: 25px 0 !important; font-weight: bold;'] PRIVACY POLICY
  p.md-subhead[style='padding-bottom: 30px;'] Rich Honey Inc. (“Rich Honey Private
    Label,” “we,” “us,” or “our”)
    recognizes the importance of privacy and cares about the protection of your
    information. This Privacy Policy explains how we collect and use the personal
    information of the users (“you,” “your,” “user,” or “customer”) of
    www.richhoneyprivatelabel.com (the “Website”) and the services available
    through our Website (the “Services”). By visiting our Website or using any
    of our Services, you agree that any information that we collect from or
    about you through our Website or Services, including personal
    information, anonymous information, and aggregate information,
    will be handled as described in this Privacy Policy. Your use of our
    Website or Services, and any dispute over privacy, is subject to this
    Privacy Policy and our Terms of Use Agreement.

  p.md-title[style='padding-bottom: 15px;'] INFORMATION WE COLLECT
  p.md-subhead[style='padding-bottom: 10px;'] Personal Information
  p[style='padding-bottom: 30px;'] If you sign up for our newsletter, we will collect your e-mail address. We
    will also collect any other information that you provide to us such as your
    name, business name, address, cellphone number, or any information that you
    provide to us via our contact form, career inquiry form, wholesale account
    application, or e-mail correspondence.

  p.md-title[style='padding-bottom: 15px;'] Browser Information
  p.md-subhead[style='padding-bottom: 30px;'] Our server automatically collects
    information regarding the User’s browser type, domain name, the website you
    are coming from and going to, your location, dates and times you access our
    Website, and Internet Protocol (“IP”) address and stores such information
    through the use of “cookies.” The cookies enable Rich Honey Private Label
    to confirm that Users have visited previously. You can set your browser to
    accept all cookies, reject all cookies, or notify you when a cookie is set.

  p.md-title[style='padding-bottom: 15px;'] HOW WE USE YOUR INFORMATION
  p.md-subhead[style='padding-bottom: 10px;'] Rich Honey Private Label may use
    your personal information to operate, maintain, customize and personalize
    your experience with the Website and Services for the following purposes:

  ol[style='padding-bottom: 30px;']
    li To provide our Site and Services to you; to improve our Site and
      Services; to respond to your inquires; and for other customer service and
      support purposes.
    li To communicate with you about your use of our Site and Services; to
      provide you with news and newsletters, special offers, promotions, and
      other information we think may interest you; and for other informational,
      marketing, or promotional purposes.
    li To analyze how you interact with our Site and Services; and for other
      research, analytical, and statistical purposes.
    li To protect our rights and interests, and the rights and interests of our
      users and any other person, as well as to enforce this Privacy Policy and
      our Terms of Use Agreement.
    li To comply with applicable legal or regulatory obligations, including
      informal requests from law enforcement or other governmental authorities.

  p.md-title[style='padding-bottom: 15px;'] THIRD PARTY WEBSITES
  p.md-subhead[style='padding-bottom: 30px;'] This Privacy Policy applies only
    to Websites and Services that are owned or controlled by Rich Honey Private
    Label. In the event that the Website includes links to other websites,
    Rich Honey Private Label expressly disclaims responsibility for the privacy
    practices of such other websites. You should make certain that you are aware
    when you leave our Website and enter Third Party Websites and review their
    privacy practices accordingly.

  p.md-title[style='padding-bottom: 15px;'] SECURITY
  p.md-subhead[style='padding-bottom: 30px;'] Although Rich Honey Private Label
    takes reasonable security measures to safeguard your private information
    against unauthorized use or access, we cannot guarantee the security of any
    information you provide to or from our online services. Rich Honey Private
    Label cannot guarantee that such information may not be accessed, disclosed,
    altered or destroyed by breach of any of our security measures. All Website
    transmissions are solely at your own risk.

  p.md-title[style='padding-bottom: 15px;'] USER RESPONSIBILITIES
  p.md-subhead[style='padding-bottom: 30px;'] You are under no obligation to
    provide personal information to Rich Honey Private Label and may, at any
    time, decline to submit personal account information through the Website,
    in which case we may not be able to provide certain services to you. Please
    note that files submitted by Users to the Website cannot be removed, are not
    subject to this Privacy Policy and remain subject to our Terms of Use Agreement.
    We strongly recommend that you take reasonable steps to maintain the secrecy
    of your information at all times by remembering to log off all computers when
    use is finished.

  p.md-title[style='padding-bottom: 15px;'] CHANGES
  p.md-subhead[style='padding-bottom: 30px;'] This Privacy Policy is current as
    of the date set forth below. We may change this Privacy Policy from time to
    time, so please be sure to check back periodically.

  p.md-title[style='padding-bottom: 15px;'] CONTACT US
  p If you have questions about our Privacy Policy, please contact us at:
    <br />
    Rich Honey Inc.
    <br />
    919 E. Slauson Ave.
    <br />
    Los Angeles, CA 90011
    <br />
    E-mail:
    <a href="mailto:sales@richhoney.us" target="_blank"> sales@richhoney.us</a>
    <br />
    Phone:
    <a href="tel:(213) 905-3205" target="_blank"> (213) 905-3205 </a>
    <br />
    Updated on: January 5, 2017
