.terms-and-conditions-container[style='padding: 40px 60px;']
  h1.md-headline[style='margin: 25px 0 !important; font-weight: bold;'] WHOLESALE
    ACCOUNT TERMS AND CONDITIONS

  p.md-subhead[style='padding-bottom: 30px;'] This Wholesale Account Terms and
    Conditions Agreement (“Agreement” or “Terms”) is a legal agreement between
    the Applicant (collectively, “you,” “your,” the “Applicant,” or the
    “Customer”) and Rich Honey Inc. (collectively, “we,” “us,” “our,” “Rich
    Honey,” or “Rich Honey Private Label”), concerning your application for a
    Wholesale Account and, upon approval, your relationship with the Company.
    This Agreement states the terms and conditions that govern your future
    relationship with the Company including any orders you submit to the Company
    to avail our goods and services.

  p.md-title[style='padding-bottom: 10px;'] Wholesale Account Application
  p.md-subhead[style='padding-bottom: 30px;'] By submitting a Wholesale Account
    Application to Rich Honey, the Applicant agrees to the terms and conditions
    set forth in this Agreement. Upon approval of a Wholesale Account, the
    Customer agrees that any information disclosed by the Company, including but
    not limited to the Company’s products and services, price lists, line sheets,
    and the manufacturing process, will not be shared or discussed by the
    Customer with anyone outside of the Company.

  p.md-title[style='padding-bottom: 10px;'] Privacy Policy
  p.md-subhead[style='padding-bottom: 30px;'] The Customer agrees and requests
    that the information contained in the Wholesale Application and any other
    information submitted to the Company should be consistent with the Company’s
    <a ui-sref="privacy_policy">Privacy Policy </a>.

  p.md-title[style='padding-bottom: 10px;'] Purchase Orders
  p.md-subhead The Customer agrees that the use
    of a purchase order to place orders for products or services shall be
    created in alignment with the terms of this Agreement and must be consistent
    with the said Terms. These Terms will be incorporated into all purchase
    orders and invoices between the Customer and the Company.
  p.md-subhead[style='padding-bottom: 30px;'] The Minimum Order Quantity is 96
    units. The Company will not accommodate any other orders of less than 96
    units unless otherwise agreed upon by the two parties.

  p.md-title[style='padding-bottom: 10px;'] Payment Terms
  p.md-subhead[style='padding-bottom: 30px;']The Customer shall pay the Company
    a 50% deposit of the total quoted balance upon receipt of the order’s
    invoice to secure the order’s production. The remaining balance shall be
    paid when the order is completed. All remaining balances owed to the Company
    shall be due on or before the estimated completion date of the order. The
    Customer shall not receive the finished goods until the balance is paid in
    full. If the Customer fails to make any payment on the due dates, without
    prejudice to any other right or remedy available to the Company, the Company
    shall be entitled to place a hold on production, cancel the order or suspend
    further deliveries to the Customer.

  p.md-title[style='padding-bottom: 10px;'] Tolerance for Overage and Shortage
  p.md-subhead[style='padding-bottom: 30px;'] The Customer understands that
    there is a maximum of a 3% tolerance for an overage or shortage in
    production for custom orders. In the case that there is an overage or
    shortage in production, the Company will inform the Customer of the specific
    styles or items that have been overproduced or underproduced. The Customer
    agrees to accept the increase or decrease in the amount of units and pay the
    adjusted balance, whether higher or lower.

  p.md-title[style='padding-bottom: 10px;'] Tolerance for Garment Fit
  p.md-subhead[style='padding-bottom: 30px;'] The Customer understands that
    there may be an increase or decrease in the garment’s specified measurements
    by one fourth (¼) of an inch and is considered within tolerance.
    The Customer agrees to accept this when the production is complete and
    shall not be allowed to claim this difference as a defect.

  p.md-title[style='padding-bottom: 10px;'] Notice of Defects
  p.md-subhead The Customer must notify the Company of all claims for damages
    resulting from late delivery or any other defects that are known to the
    Customer at the time the Customer receives the products. Any such claims
    must be made in writing via email to <a href="mailto:sales@richhoney.us"> sales@richhoney.us </a>
    Any other correspondence not made via e-mail shall be considered null.
  p.md-subhead Any claims of defects, including
    but not limited to those related to quality, quantity, or identity must be
    made within seven (7) days of receipt of the products. The Customer agrees
    that seven days is a reasonable period of time to make such claims and
    agrees to inspect all products within that time frame. At the expiration of
    the seven day period, the Customer shall be assumed to waive any claim for
    damages resulting from any defect the Customer is aware of.
  p.md-subhead[style='padding-bottom: 30px;'] This time frame for claims of
    defects solely applies to the Customer and does not apply to any Third
    Party, which includes but is not limited to the Customer’s screen printer.

  p.md-title[style='padding-bottom: 10px;'] Third Party Deliveries
  p.md-subhead[style='padding-bottom: 30px;'] In the event that the Customer
    designates a Third Party, which includes but is not limited to the
    Customer’s screen printer, to claim the finished order, the Company shall
    not be held liable for any claims for defects, including shortages, made by
    the Third Party. The Company is solely responsible for checking for defects
    upon acceptance of the order and the Third Party shall not be allowed to
    make such claims for defects. Upon receipt of the order by a Third Party,
    the order is considered to have been checked by the Company and defects can
    no longer be claimed.

  p.md-title[style='padding-bottom: 10px;'] Returns
  p.md-subhead[style='padding-bottom: 30px;'] ALL CUSTOM ORDERS ARE FINAL. Prior
    to production, the Customer shall approve the fit, color and other
    specifications of the order. Thus, the Customer shall have no valid reason
    to return the items after the production has been completed unless there are
    defects upon which the procedure stated in the above sections shall be
    followed.

  p.md-title[style='padding-bottom: 10px;'] Modification of Goods
  p.md-subhead[style='padding-bottom: 30px;'] Modification of goods upon receipt
    of the Customer shall be assumed to be a waiver and release of any rights to
    reject or return the goods and shall be considered full acceptance of the
    goods by the Customer. The Company shall not be liable or responsible for
    any loss or damage resulting from any modifications, including but not
    limited to screen printing, embroidery, or distressing.

  p.md-title[style='padding-bottom: 10px;'] Jurisdiction
  p.md-subhead[style='padding-bottom: 30px;'] These Terms shall be governed by
    and construed in accordance with the internal laws of the State of
    California, without regard to conflict of law provisions. By agreeing to
    transact with the Company, the Customer hereby consents to jurisdiction in
    Los Angeles County, California.

  p.md-title[style='padding-bottom: 10px;'] Binding Arbitration
  p.md-subhead[style='padding-bottom: 30px;'] If the Customer and the Company
    are unable to resolve a Dispute through informal negotiations, either the
    Customer or the Company may choose to have the Dispute finally and
    exclusively resolved by binding arbitration, as provided under sections 1
    and 2 of the Federal Arbitration Act and the California Code of Civil
    Procedure. Any election to arbitrate by one party shall be final and binding
    on the other. Arbitration replaces the right to go to court. The Customer
    and the Company shall each pay their own arbitration fees and attorney’s
    fees, unless otherwise determined by the arbitrator. The arbitrator must
    follow applicable law, and any award may be challenged if the arbitrator
    fails to do so.

  p.md-title[style='padding-bottom: 10px;'] Deterioration of Customer’s Credit
  p.md-subhead[style='padding-bottom: 30px;'] Company’s agreement to provide a
    Customer with goods or services prior to payment is purely at Company’s
    discretion, and may be altered, conditioned, or revoked at any time, and
    without notice.

  p.md-title[style='padding-bottom: 10px;'] Integration
  p.md-subhead[style='padding-bottom: 30px;'] This Terms and Conditions
    Agreement contains the final and complete agreement between the parties as
    to the subject matter covered and supersedes or replaces any prior
    agreements, representations, or communications.

  p.md-title[style='padding-bottom: 10px;'] Amendments
  p.md-subhead[style='padding-bottom: 30px;'] The Terms and Conditions stated
    herein shall not be modified or overridden by any other terms that may be
    stated on the Customer’s purchase orders or other forms. Any amendment to
    these Terms must be made in writing and signed by the Customer and the
    Company.

  p.md-title[style='padding-bottom: 10px;'] Severability
  p.md-subhead[style='padding-bottom: 30px;'] In the event that any of the
    provisions of these Terms and Conditions are held to be invalid, illegal, or
    unenforceable, the remainder of the Terms and Conditions will continue to be
    valid and enforceable.

  p.md-title[style='padding-bottom: 10px;'] Acknowledgment and Agreement
  p.md-subhead The Customer has carefully read
    and agrees to the Terms and Conditions set forth above. By submitting an
    application and opening a Wholesale Account, each Customer agrees to be
    bound by these Terms and Conditions.
