.terms-and-conditions-container[style='padding: 40px 60px;']
  h1.md-headline[style='margin: 25px 0 !important; font-weight: bold;'] WHOLESALE
    ACCOUNT TERMS AND CONDITIONS
    
  p.md-subhead[style='padding-bottom: 30px;'] This Wholesale Account Terms and
    Conditions Agreement (“Agreement” or “Terms”) is a legal agreement between
    the Applicant (collectively, “you,” “your,” the “Applicant,” or the
    “Customer”) and Rich Honey Inc. (collectively, “we,” “us,” “our,” “Rich
    Honey,” or “Rich Honey Private Label”), concerning your application for a
    Wholesale Account and, upon approval, your relationship with the Company.
    This Agreement states the terms and conditions that govern your future
    relationship with the Company including any orders you submit to the Company
    to avail our goods and services.

  p.md-title[style='padding-bottom: 10px;'] Wholesale Account Application
  p.md-subhead[style='padding-bottom: 30px;'] By submitting a Wholesale Account
    Application to Rich Honey, the Applicant agrees to the terms and conditions
    set forth in this Agreement. Upon approval of a Wholesale Account, the
    Customer agrees that any information disclosed by the Company, including but
    not limited to the Company’s products and services, price lists, line sheets,
    and the manufacturing process, will not be shared or discussed by the
    Customer with anyone outside of the Company.

  p.md-title[style='padding-bottom: 10px;'] Privacy Policy
  p.md-subhead[style='padding-bottom: 30px;'] The Customer agrees and requests
    that the information contained in the Wholesale Application and any other
    information submitted to the Company should be consistent with the Company’s
    Privacy Policy.

  p.md-title[style='padding-bottom: 10px;'] Purchase Orders
  p.md-subhead The Customer agrees that the use
    of a purchase order to place orders for products or services shall be
    created in alignment with the terms of this Agreement and must be consistent
    with the said Terms. These Terms will be incorporated into all purchase
    orders and invoices between the Customer and the Company.
  p.md-subhead[style='padding-bottom: 30px;'] The Minimum Order Quantity is 96
    units. The Company will not accommodate any other orders of less than 96
    units unless otherwise agreed upon by the two parties.

  p.md-title[style='padding-bottom: 10px;'] Payment Terms
  p.md-subhead[style='padding-bottom: 10px; font-style: italic;'] What are our
    payment terms?
  p.md-subhead The Customer shall pay the Company
  p.md-subhead Buyer will pay Seller within 30 days of the date of Seller’s
    invoice, and a 1% discount will be applied to payments received within 10
    days of the invoice date, provided there is no use of credits and payments
    are made in immediately good funds by check, wire, or ACH.  
  p.md-subhead[style='padding-bottom: 30px;'] If Buyer’s account goes 30 days or
    more past due, Buyer irrevocably authorizes Seller to charge the past due
    amount to the credit card on file.

  p.md-title[style='padding-bottom: 10px;'] Tolerance for Overage and Shortage
  p.md-subhead[style='padding-bottom: 30px;'] The Customer understands that
    there is a maximum of a % tolerance for an overage or shortage in
    production for custom orders. In the case that there is an overage or
    shortage in production, the Company will inform the Customer of the specific
    styles or items that have been overproduced or underproduced. The Customer
    agrees to accept any additional items and pay the adjusted balance, whether
    higher or lower.

  p.md-title[style='padding-bottom: 10px;'] Notice of Defects/Returns
  p.md-subhead The Customer must notify the Company of all claims for damages
    resulting from late delivery or any other defects that are known to the
    Customer at the time the Customer receives the products. Any such claims
    must be made in writing via email to <a href="mailto:sales@richhoney.us"> sales@richhoney.us </a>
    Any other correspondence not made via e-mail shall be considered null.
  p.md-subhead[style='padding-bottom: 30px;'] Any claims of defects, including
    but not limited to those related to quality or identity must be made within
    7 days of receipt of the products. The Customer agrees that 7 days is a
    reasonable period of time to make such claims and agrees to inspect all
    products within that timeframe. At the expiration of the 7 day period, the
    Customer shall be assumed to waive any claim for damages resulting from any
    defect the Customer is aware of.

  p.md-title[style='padding-bottom: 10px;'] Modification of Goods
  p.md-subhead[style='padding-bottom: 30px;'] Modification of goods upon receipt
    of the Customer shall be assumed to be a waiver and release of any rights to
    reject or return the goods and shall be considered full acceptance of the
    goods by the Customer. The Company shall not be liable or responsible for
    any loss or damage resulting from any modifications, including but not
    limited to screen printing, embroidery, or distressing.

  p.md-title[style='padding-bottom: 10px;'] Returns
  p.md-subhead[style='font-style: italic;']Do we have a return policy?
  p.md-subhead[style='padding-bottom: 30px;'] Except as otherwise stated herein,
    merchandise may be returned within 7 days of receipt of the merchandise, and
    are subject to a 20% restocking fee, with a $5.00 minimum charge. A written
    authorization from Company must be obtained by Customer for any returned
    merchandise. In the event of a return, Customer hereby (1) authorizes
    Company to sell such garments and other goods, and (2) agrees to indemnify
    Company and hold Company harmless from any and all liability, costs,
    damages, or expenses (including reasonable attorneys’ fees) relating to or
    arising from the sale, use, non-use, and/or distribution of such goods.
    Except as otherwise stated herein, merchandise that has been modified
    (in whatever form) may not be returned.

  p.md-title[style='padding-bottom: 10px;'] Defaults
  p.md-subhead All remaining balances owed to the Company shall be due on or
    before the estimated completion date of the order. The Customer shall not
    receive the order until the remaining balance is paid. If the Customer fails
    to make any payment on the due dates, without prejudice to any other right or
    remedy available to the Company, the Company shall be entitled to cancel the
    order or suspend further deliveries to the Customer.
  p.md-subhead All payments owed to Company shall be due on or within thirty
    (30) days from the date of an invoice.  Customer’s failure to make any
    payment as and when due to Company, to perform or observe any covenant or
    agreement contained herein, to comply with applicable law, or any condition
    shall occur that reasonably could be expected to lead to Customer’s
    insolvency, will create a default by Customer under these Terms and
    Conditions.
  p.md-subhead Except as provided herein, these Terms and Conditions incorporate
    by reference all terms of Article 2 of the Uniform Commercial Code,
    including but not limited to, all Company’s remedies.  On account of any
    delinquent payments or amounts, Customer agrees to pay an additional service
    charge equal to 1 ½% per month (18% per annum), collection agency fees equal
    to 30% of delinquent amounts, Company’s attorneys’ fees, and all other costs
    and expenses which may be incurred by the Company in furtherance of the
    collection of delinquent amounts and/or to enforce the terms and conditions
    set forth herein, or as otherwise provided by law.
  p.md-subhead[style='padding-bottom: 30px;'] Customer will pay Company a
    handling fee of $50 for any returned checks.  If Customer’s account is
    insured and Customer’s account is turned over to a receivable insurance
    company for a claim, Customer agrees to pay Company a charge equal to 30%
    of the principal amount due which is in default.

  p.md-title[style='padding-bottom: 10px;'] Jurisdiction
  p.md-subhead[style='padding-bottom: 30px;'] These Terms shall be governed by
    and construed in accordance with the internal laws of the State of
    California, without regard to conflict of law provisions. By agreeing to
    transact with the Company, the Customer hereby consents to jurisdiction in
    Los Angeles County, California.

  p.md-title[style='padding-bottom: 10px;'] Binding Arbitration
  p.md-subhead[style='padding-bottom: 30px;'] If the Customer and the Company
    are unable to resolve a Dispute through informal negotiations, either the
    Customer or the Company may choose to have the Dispute finally and
    exclusively resolved by binding arbitration, as provided under sections 1
    and 2 of the Federal Arbitration Act and the California Code of Civil
    Procedure. Any election to arbitrate by one party shall be final and binding
    on the other. Arbitration replaces the right to go to court. The Customer
    and the Company shall each pay their own arbitration fees and attorney’s
    fees, unless otherwise determined by the arbitrator. The arbitrator must
    follow applicable law, and any award may be challenged if the arbitrator
    fails to do so.

  p.md-title[style='padding-bottom: 10px;'] Deterioration of Customer’s Credit
  p.md-subhead[style='padding-bottom: 30px;'] Company’s agreement to provide a
    Customer with goods or services prior to payment is purely at Company’s
    discretion, and may be altered, conditioned, or revoked at any time, and
    without notice.

  p.md-title[style='padding-bottom: 10px;'] Integration
  p.md-subhead[style='padding-bottom: 30px;'] This Terms and Conditions
    Agreement contains the final and complete agreement between the parties as
    to the subject matter covered and supersedes or replaces any prior
    agreements, representations, or communications.

  p.md-title[style='padding-bottom: 10px;'] Amendments
  p.md-subhead[style='padding-bottom: 30px;'] The Terms and Conditions stated
    herein shall not be modified or overridden by any other terms that may be
    stated on the Customer’s purchase orders or other forms. Any amendment to
    these Terms must be made in writing and signed by the Customer and the
    Company.

  p.md-title[style='padding-bottom: 10px;'] Severability
  p.md-subhead[style='padding-bottom: 30px;'] In the event that any of the
    provisions of these Terms and Conditions are held to be invalid, illegal, or
    unenforceable, the remainder of the Terms and Conditions will continue to be
    valid and enforceable.

  p.md-title[style='padding-bottom: 10px;'] Acknowledgment and Agreement
  p.md-subhead The Customer has carefully read
    and agrees to the Terms and Conditions set forth above. By submitting an
    application and opening a Wholesale Account, each Customer agrees to be
    bound by these Terms and Conditions.
