.terms-of-use-container[style='padding: 25px;' layout='column']
  h1.md-headline[style='margin: 25px 0 !important; font-weight: bold;'] TERMS OF USE AGREEMENT
  p.intro-text[style='font-weight: normal; margin: 20px 0 !important;']
    | THIS TERMS OF USE AGREEMENT (“AGREEMENT” OR “TERMS”) IS A LEGAL AGREEMENT
      BETWEEN YOU (COLLECTIVELY, “YOU,” “YOUR,” “USER,” OR “CUSTOMER”) AND RICH
      HONEY INC. (COLLECTIVELY, “WE,” “US,” “OUR,” “RICH HONEY APPAREL,” “RICH
      HONEY PRIVATE LABEL,” THE “COMPANY”), CONCERNING YOUR ACCESS TO AND USE OF
      THE WWW.RICHHONEYPRIVATELABEL.COM WEBSITE AS WELL AS ANY OTHER MEDIA FORM,
      MEDIA CHANNEL, MOBILE WEBSITE, OR MOBILE APPLICATION RELATED OR CONNECTED
      THERETO (THE “WEBSITE”). THIS AGREEMENT STATES THE TERMS AND CONDITIONS
      THAT GOVERN YOUR USE OF THE WEBSITE AND APPLICATION OF ALL SERVICES,
      FEATURES, GIFT CARDS, CREDITS AND RESOURCES AVAILABLE OR ENABLED VIA THE
      WEBSITE AND/OR APPLICATIONS (COLLECTIVELY, WITH THE WEBSITE AND APPLICATIONS,
      THE “SERVICES”), AND YOUR PURCHASE OF THE PRODUCTS SOLD THROUGH OUR SERVICES.

  p.intro-text[style='font-weight: normal; margin: 20px 0 !important;']
    | BY ACCESSING OR USING ANY PART OF THE WEBSITE OR SERVICES, YOU AGREE THAT
      YOU HAVE READ, UNDERSTOOD AND AGREED TO BE BOUND BY THESE TERMS. THESE
      TERMS CONTAIN A DISPUTE RESOLUTION AND ARBITRATION PROVISION, INCLUDING
      CLASS ACTION WAIVER THAT AFFECTS YOUR RIGHTS UNDER THESE TERMS AND WITH
      RESPECT TO DISPUTES YOU MAY HAVE WITH RICH HONEY PRIVATE LABEL.
      IF YOU DO NOT ACCEPT THIS AGREEMENT, YOU ARE NOT PERMITTED TO, AND YOU
      MUST NOT, ACCESS OR USE THE SERVICES OR PURCHASE PRODUCTS FROM RICH HONEY
      PRIVATE LABEL.

  h2.md-subhead[style='margin-bottom: 10px !important; font-weight: bold;'] GENERAL

  p.md-subhead[style='margin-bottom: 10px !important; font-weight: bold;'] Eligibility

  p.intro-text
    | By using the Website, you represent, acknowledge and agree that you are at
      least 18 years of age, or if you are under 18 years of age but are at least
      13 years old (a “Minor”), that you are using the Website with the consent
      of your parent or legal guardian and that you have received your parent’s
      or legal guardian’s permission to enter into this Agreement. If you are a
      parent or legal guardian who is registering for a Minor, you hereby agree
      to bind the Minor to this Agreement and to fully indemnify, release and hold
      harmless RICH HONEY PRIVATE LABEL if the Minor breaches or disaffirms any
      term or condition of this Agreement. If you are not at least 13 years old,
      you may not use the Website at any time or in any manner or submit any
      information to the Company or the Website.

  p.md-subhead[style='margin: 10px 0 !important; font-weight: bold;'] Using the Website and the Services
  p.intro-text
    | Subject to your compliance with these Terms, we grant you a limited,
      non-exclusive, non-sublicensable, non-transferable, and revocable right
      to access the Website and use the Services for your personal,
      non-commercial use, and as we otherwise intend. In order to access certain
      password-restricted areas of the Website and to use certain Services and
      Materials offered on and through the Website, you must register with RICH
      HONEY PRIVATE LABEL for an account. RICH HONEY PRIVATE LABEL reserves the
      right to monitor the Service for the purpose of determining that your usage
      complies with these Terms.

  p.md-subhead[style='margin: 10px 0 !important; font-weight: bold;'] Privacy Policy
  p.intro-text
    | Please review the RICH HONEY PRIVATE LABEL
      <a href="http://www.richhoneyprivatelabel.com/pages/privacy-policy" target="_blank"> Privacy Policy</a>,
      which explains how we collect, use, and disclose your data and your
      consent to such collection, use, and disclosure. By using the Website
      and/or Services, you are consenting to have your personal data transferred
      to and processed in the United States. By using the Website and/or Services,
      you are consenting to the terms of our Privacy Policy.

  p.md-subhead[style='margin: 10px 0 !important; font-weight: bold;'] Orders and Purchases
  p.intro-text[style='font-weight: normal; margin: 0 0 20px 0 !important;']
    | You agree to pay all fees or charges to your account based on RICH HONEY
      PRIVATE LABEL’s fees, charges, and billing terms in effect. You understand
      that there is a 0 to 3% margin for an overage or shortage in production for
      custom orders. In the case that there is an overage in production, you
      agree to accept and pay for the balance of the additional items. In the
      case that there is a shortage in production, you agree to accept and pay
      the adjusted balance. If you do not pay on time or if RICH HONEY PRIVATE
      LABEL cannot charge your credit card or other payment method for any reason,
      RICH HONEY PRIVATE LABEL reserves the right to either suspend or terminate
      your access to the Website and account and terminate these Terms and you
      will not receive any items.

  p.intro-text[style='font-weight: normal;']
    | You are expressly agreeing that RICH HONEY PRIVATE LABEL is permitted to
      bill you for the applicable fees, any applicable tax and any other charges
      you may incur in connection with your use of this Website and the Services
      and the fees will be billed to your credit card or other payment method
      designated on your initial registration for your account, and thereafter
      at regular intervals for the remainder of the term of these Terms.
      If you cancel your account at any time, you will not receive any refund.
      If you have a balance due on any account, you agree that RICH HONEY PRIVATE
      LABEL may charge such unpaid fees to your credit card or otherwise bill you
      for such unpaid fees.

  p.md-subhead[style='margin: 10px 0 !important; font-weight: bold;'] USER REPRESENTATIONS
  p.intro-text By using RICH HONEY PRIVATE LABEL’s Services, you represent and warrant that:
  ol
    li[style='margin: 5px 0'] All registration information you submit is truthful and accurate
    li[style='margin: 5px 0'] You will maintain the accuracy of such information
    li[style='margin: 5px 0'] You will keep your password confidential and will be responsible for all use of your password and account
    li[style='margin: 5px 0'] You are not a Minor, or if a Minor, you have received parental permission to use this Website
    li[style='margin: 5px 0'] Your use of the Services does not violate any applicable law or regulation

  p.intro-text If you provide any information that is untrue, inaccurate, not
    | current or incomplete, or RICH HONEY PRIVATE LABEL has reasonable grounds
      to suspect that such information is untrue, inaccurate, not current or
      incomplete, RICH HONEY PRIVATE LABEL has the right to suspend or terminate
      your account and refuse any and all current or future use of the Website
      (or any portion thereof).


  p.md-subhead[style='margin: 10px 0 !important; font-weight: bold;'] SUBMISSIONS
  p.intro-text You acknowledge and agree that any questions, comments, suggestions,
    | ideas, feedback, or other information about the Website or RICH HONEY
      PRIVATE LABEL’s Services (“Submissions”) provided by you to RICH HONEY
      PRIVATE LABEL are non-confidential and RICH HONEY PRIVATE LABEL (as well as
      any designee of RICH HONEY PRIVATE LABEL) shall be entitled to the
      unrestricted use and dissemination of these Submissions for any purpose,
      commercial or otherwise, without acknowledgement or compensation to you.

  p.md-subhead[style='margin: 10px 0 !important; font-weight: bold;'] PROHIBITED ACTIVITIES
  p.intro-text You may not access or use the Website for any other purpose than
    | that for which RICH HONEY PRIVATE LABEL makes it available. Prohibited
      activity includes but is not limited to:

  ol
    li[style='margin: 5px 0'] Attempting to bypass any measures of the Website designed to prevent or
      | restrict access to the Website of any portion of the Website
    li[style='margin: 5px 0'] Attempting to impersonate another user or person or using the username
      | of another user
    li[style='margin: 5px 0'] Deciphering, decompiling, disassembling, or reverse engineering any of
      | the software comprising or in any way making up a part of the Website

    li[style='margin: 5px 0'] Deleting the copyright or other proprietary rights notice from any
      | Website content
    li[style='margin: 5px 0'] Disseminating any unsolicited or unauthorized advertising, promotional
      | materials, spam mail, or any other form of such solicitation
    li[style='margin: 5px 0'] Use any robot, spider, scraper, or other automated means to access the
      | Website
    li[style='margin: 5px 0'] Defaming, abusing, harassing, stalk, threaten, or otherwise violate the
      | legal rights (such as rights of privacy and publicity) of others
    li[style='margin: 5px 0'] Harassing, annoying. intimidating or threatening any RICH HONEY PRIVATE
      | LABEL employees or agents engaged in providing any of RICH HONEY PRIVATE
      | LABEL’s Services to you
    li[style='margin: 5px 0'] Interfering with, disrupting, or creating an undue burden on the Website
      | or the networks or services connected to the Website
    li[style='margin: 5px 0'] Making any unauthorized use of RICH HONEY PRIVATE LABEL’s Services,
      | including collecting usernames and/or e-mail addresses of users by
      | electronic or other means for the purpose of sending unsolicited e-mail,
      | or creating user accounts by automated means or under false pretenses
    li[style='margin: 5px 0'] Systematic retrieval of data or other content or from the Website to
      | create or compile, directly or indirectly, a collection, compilation,
      | database or directory without written permission from RICH HONEY
      | PRIVATE LABEL
    li[style='margin: 5px 0'] Tricking, defrauding, or misleading RICH HONEY PRIVATE LABEL and other
      | users, especially in any attempt to learn sensitive account information
      | such as passwords
    li[style='margin: 5px 0'] Using any information obtained from the Website in order to harass,
      | abuse, or harm another person
    li[style='margin: 5px 0'] Using RICH HONEY PRIVATE LABEL’s Services as part of any effort to
      | compete with RICH HONEY PRIVATE LABEL or to provide services as a
      | service bureau
    li[style='margin: 5px 0'] Using the Website in a manner inconsistent with any and all applicable
      | laws and regulations

  p.intro-text
    | This list of prohibitions provides examples and is not complete or
      exclusive. RICH HONEY PRIVATE LABEL reserves the right to terminate access
      to your account and/or your ability to use the Services with or without
      cause and with or without notice, for any reason or no reason, or for any
      action that RICH HONEY PRIVATE LABEL determines is inappropriate or
      disruptive to this Website or to any other user of this Website and/or
      Services.

  p.intro-text[style='font-weight: normal; margin: 0 0 20px 0 !important;']
    | RICH HONEY PRIVATE LABEL may report to law enforcement authorities any
      actions that may be illegal, and any reports it receives of such conduct.
      When legally required or at RICH HONEY PRIVATE LABEL’s discretion, RICH
      HONEY PRIVATE LABEL will cooperate with law enforcement agencies in any
      investigation of alleged illegal activity on this Website or on the
      Internet.

  p.md-subhead[style='margin: 10px 0 !important; font-weight: bold;'] INTELLECTUAL PROPERTY RIGHTS
  p.intro-text The content on the Website, including but not limited to
    | documents, services, website design, text, graphics, logos, videos, images
      and icons (the "Materials"), as well as the arrangement thereof, unless
      otherwise specified in these Terms, are the sole property of RICH HONEY
      PRIVATE LABEL. All rights not expressly granted herein are reserved.
      Except as otherwise required or limited by applicable law, any reproduction,
      distribution, modification, retransmission, or publication of any copyrighted
      material is strictly prohibited without the express written consent of the
      copyright owner or license.

  p.md-subhead[style='margin: 10px 0 !important; font-weight: bold;'] THIRD PARTY WEBSITES AND CONTENT
  p.intro-text The Website may be linked to other websites that are not RICH
    | HONEY PRIVATE LABEL’s websites (“Third Party Websites”) as well as articles,
      photographs, text, graphics, pictures, designs, music, sound, video, information,
      applications, software, and other content or items belonging to or originating
      from third parties (“Third Party Content”). Such Third Party Websites and
      Third Party Content are not investigated, monitored, or checked for
      accuracy, appropriateness, or completeness by us, and we are not responsible
      for any Third Party Websites accessed through the Website or Third Party
      Content posted on, available through or installed from the Website,
      including the content, accuracy, offensiveness, opinions, reliability,
      privacy practices or other policies of or contained in the Third Party
      Websites or the Third Party Content. Inclusion of, linking to or permitting
      the use or installation of any Third Party Website or any Third Party Content
      does not imply approval or endorsement thereof by us. Certain areas of
      the Website may allow you to interact and/or conduct transactions with
      such Third Party Website, and, if applicable, allow you to configure your
      privacy settings in your Third Party Website account to permit your
      activities on this Website to be shared with your contacts in your Third
      Party Website account and, in certain situations, you may be transferred
      to a Third Party Website through a link but it may appear that you are
      still on this Website. In any case, you acknowledge and agree that the
      Third Party Websites may have different privacy policies and terms and
      conditions and/or user guides and business practices than RICH HONEY
      PRIVATE LABEL, and you further acknowledge and agree that your use of
      such Third Party Websites is governed by the respective Third Party Website
      privacy policy and terms and conditions and/or user guides. You hereby agree
      to comply with any and all terms and conditions, users guides and privacy
      policies of any of the Third Party Websites.

  p.intro-text YOU AGREE THAT RICH HONEY PRIVATE LABEL WILL NOT, UNDER ANY
    | CIRCUMSTANCES, BE RESPONSIBLE OR LIABLE, DIRECTLY OR INDIRECTLY, FOR ANY
      GOODS, SERVICES, INFORMATION, RESOURCES AND/OR CONTENT AVAILABLE ON OR
      THROUGH ANY THIRD PARTY WEBSITES OR COMMUNICATIONS, OR FOR ANY HARM RELATED
      THERETO, OR FOR ANY DAMAGES OR LOSS CAUSED OR ALLEGED TO BE CAUSED BY OR
      IN CONNECTION WITH YOUR USE OR RELIANCE ON THE CONTENT OR BUSINESS
      PRACTICES OF ANY THIRD PARTY.

  p.md-subhead[style='margin: 10px 0 !important; font-weight: bold;']TERMS AND TERMINATION
  p.intro-text These Terms shall remain in full force and effect while you use
    | the Website or are otherwise a Subscriber of RICH HONEY PRIVATE LABEL, as
      applicable. You may terminate your use or Subscription at any time, for any
      reason, by following the instructions for terminating user accounts in your
      account page or by contacting us using the contact information provided.
  p.intro-text[style='font-weight: normal; margin: 0 0 20px 0 !important;']
    | RICH HONEY PRIVATE LABEL, IN ITS SOLE DISCRETION, RESERVES THE RIGHT TO
      DENY ACCESS TO AND USE OF THE WEBSITE AND/OR SERVICES, TO ANY PERSON FOR
      ANY REASON OR FOR NO REASON AT ALL, WITHOUT NOTICE OR LIABILITY, INCLUDING
      WITHOUT LIMITATION FOR BREACH OF ANY REPRESENTATION, WARRANTY OR COVENANT
      CONTAINED IN THESE TERMS, OR OF ANY APPLICABLE LAW OR REGULATION, AND RICH
      HONEY PRIVATE LABEL MAY TERMINATE YOUR USE OR PARTICIPATION IN THE WEBSITE
      AND/OR SERVICES AND DELETE YOUR ACCOUNT AT ANY TIME, WITHOUT WARNING.

  p.intro-text[style='font-weight: normal; margin: 0 0 20px 0 !important;']
    | In order to protect the integrity of the Website and/or Services, RICH
      HONEY PRIVATE LABEL reserves the right in its sole discretion to block
      certain IP addresses from accessing the Website and/or Services at any
      time.

  p.intro-text  If RICH HONEY PRIVATE LABEL terminates or suspends your account
    | for any reason, you are prohibited from registering and creating a new
      account under your name, a fake or borrowed name, or the name of any third
      party, even if you may be acting on behalf of the third party.
      In addition to terminating or suspending your account, RICH HONEY PRIVATE
      LABEL reserves the right to take appropriate legal action, including
      without limitation pursuing civil, criminal, and injunctive redress.

  p.md-subhead[style='margin: 10px 0 !important; font-weight: bold;']MODIFICATIONS

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']To the Terms
  p.intro-text RICH HONEY PRIVATE LABEL may modify these Terms from time to time.
    | Any and all changes to these Terms will be posted on the Website and
      revisions will be indicated by date. You agree to be bound to any changes
      to these Terms when you use RICH HONEY PRIVATE LABEL’s Services after any
      such modification becomes effective. RICH HONEY PRIVATE LABEL may also,
      in its sole discretion, choose to alert all users to whom it maintains
      e-mail information of such modifications by means of an e-mail to their
      most recently provided e-mail address. It is therefore important that you
      regularly review these Terms and keep your contact information current in
      your account settings to ensure that you are informed of changes. You agree
      that you will periodically check the Website for updates to the Terms and
      you will read the messages we send you to inform you of any changes.
      Modifications to the Terms shall be effective after posting.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']To the Services
  p.intro-text RICH HONEY PRIVATE LABEL reserves the right at any time to
    | modify or discontinue, temporarily or permanently, the Services (or any
      part thereof) with or without notice. You agree that RICH HONEY PRIVATE
      LABEL shall not be liable to you or to any third party for any modification,
      suspension, or discontinuance of the Services.

  p.md-subhead[style='margin: 10px 0 !important; font-weight: bold;']DISPUTES
  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']Between Users
  p.intro-text If there is a dispute between users of the Website, or between
    | users and any third party, you understand and agree that RICH HONEY PRIVATE
      LABEL is under no obligation to become involved. In the event that you have
      a dispute with one or more users, you hereby release RICH HONEY PRIVATE LABEL,
      its officers, employees, agents and successors in rights from claims, demands,
      and damages (actual and consequential) or every kind or nature, known or
      unknown, suspected and unsuspected, disclosed and undisclosed, arising out
      of or in any way related to such disputes and/or Services.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']With the Company
  p.intro-text You and RICH HONEY PRIVATE LABEL agree that any dispute that may
    | arise between us relating in any way to your use of or access to the
      Website or Services, any breach, enforcement, or termination of these Terms,
      or otherwise relating to RICH HONEY PRIVATE LABEL in any way (“Dispute”)
      will be resolved in accordance with the provisions set forth in this Section.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']Informal Resolution
  p.intro-text To expedite resolution and control the cost of any dispute,
    | controversy or claim, you agree that before taking any formal action,
      you will contact us at info@richhoneymonthly.com, provide a brief,
      written description of the dispute and your contact information and account
      information and allow at least forty-five (45) days to pass before initiating
      any arbitration or court proceeding.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']Governing Law; Jurisdiction
  p.intro-text These Terms and all aspects of the Website and Services shall be
    | governed by and construed in accordance with the internal laws of the State
    | of California, without regard to conflict of law provisions.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;'] Binding Arbitration
  p.intro-text If you and RICH HONEY PRIVATE LABEL are unable to resolve a Dispute
    | through informal negotiations, either you or RICH HONEY PRIVATE LABEL may
      choose to have the Dispute (except Disputes expressly excluded below)
      finally and exclusively resolved by binding arbitration. Any election to
      arbitrate by one party shall be final and binding on the other.
      Arbitration replaces the right to go to court.

  p.intro-text[style='margin: 10px 0 !important;'] YOU UNDERSTAND THAT ABSENT
    | THIS PROVISION, YOU WOULD HAVE THE RIGHT TO SUE IN COURT OR HAVE A JURY
      TRIAL. The arbitration shall be commenced and conducted under the Commercial
      Arbitration Rules of the American Arbitration Association (“AAA”) and,
      where appropriate, the AAA’s Supplementary Procedures for Consumer Related
      Disputes (“AAA Consumer Rules”), both of which are available at the AAA website
      www.adr.org. The determination of whether a Dispute is subject to
      arbitration shall be governed by the Federal Arbitration Act and
      determined by a court rather than an arbitrator. Your arbitration fees
      and your share of arbitrator compensation shall be governed by the AAA
      Consumer Rules and, where appropriate, limited by the AAA Consumer Rules.
      If such costs are determined by the arbitrator to be excessive, RICH HONEY
      PRIVATE LABEL will pay all arbitration fees and expenses. The arbitration
      may be conducted in person, through the submission of documents, by phone
      or online. The arbitrator will make a decision in writing, but need not
      provide a statement of reasons unless requested by a party. The arbitrator
      must follow applicable law, and any award may be challenged if the
      arbitrator fails to do so.

  p.intro-text Except where otherwise required by the applicable AAA rules or
    | applicable law, the arbitration will take place in Los Angeles County,
      California or the federal judicial district that includes your billing address.
      In the event that you select the federal judicial district that includes your
      billing address, RICH HONEY PRIVATE LABEL may transfer the arbitration to Los
      Angeles County, California in the event that it agrees to pay any additional
      fees or costs you incur as a result of the transfer, as determined by the
      arbitrator.
  p.intro-text[style='margin: 10px 0 !important;']Except as otherwise provided
    | in these Terms, you and RICH HONEY PRIVATE LABEL may litigate in court to
      compel arbitration, stay proceedings pending arbitration, or to confirm,
      modify, vacate or enter judgment on the award entered by the arbitrator.

  p.intro-text[style='margin: 10px 0 !important;']WE EACH AGREE THAT, EXCEPT AS
    | PROVIDED BELOW, ANY AND ALL DISPUTES, WHETHER PRESENTLY IN EXISTENCE OR
      BASED ON ACTS OR OMISSIONS IN THE PAST OR IN THE FUTURE, WILL BE RESOLVED
      EXCLUSIVELY AND FINALLY BY BINDING ARBITRATION RATHER THAN IN COURT IN
      ACCORDANCE WITH THIS PROVISION.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;'] Restrictions
  p.intro-text[style='margin: 10px 0 !important;']You and RICH HONEY PRIVATE
    | LABEL agree that any arbitration shall be limited to the Dispute between
      RICH HONEY PRIVATE LABEL and you individually. To the full extent permitted
      by law, (a) no arbitration shall be joined with any other; (b) there is no
      right or authority for any Dispute to be arbitrated on a class-action
      basis to utilize class action procedures; and (c) there is no right or
      authority for any Dispute to be brought into a purported representative
      capacity on behalf of the general public or any other persons.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;'] Right to Opt Out
  p.intro-text[style='margin: 10px 0 !important;'] Notwithstanding the above,
    | you or RICH HONEY PRIVATE LABEL may choose to pursue a Dispute in court
      and not by arbitration if (a) the Dispute qualifies, it may be initiated in
      small claims court; or (b) YOU OPT-OUT OF THESE ARBITRATION PROCEDURES WITHIN
      30 DAYS FROM THE DATE THAT YOU FIRST CONSENT TO THIS AGREEMENT (the “Opt-Out
      Deadline”). You may opt out of this Provision by e-mailing a notification
      to info@richhoneymonthly.com. Your written notification must include (1)
      your name, (2) your address, and (3) a clear statement that you do not
      wish to resolve disputes with RICH HONEY PRIVATE LABEL through arbitration.
      Any opt-out request received after the Opt-Out Deadline will not be valid
      and you must pursue your Dispute in arbitration or small claims court.
      If you opt out of the agreement to arbitrate, all other parts of these
      Terms and its Disputes Section will continue to apply to you. Opting out of
      this agreement to arbitrate has no effect on any previous, other, or future
      arbitration agreements that you may have with us.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']Exceptions
    | to Informal Negotiations and Arbitration

  p.intro-text[style='margin: 10px 0 !important;'] You and RICH HONEY PRIVATE
    | LABEL agree that the following Disputes are not subject to the above
      provisions concerning informal negotiations and binding arbitration:
      (a) any Disputes to enforce or protect, or concerning the validity of any
      of your or RICH HONEY PRIVATE LABEL’s intellectual property rights; (b)
      any Dispute related to, or arising from, allegations of theft, piracy,
      invasion of privacy or unauthorized use; and (c) any claim for injunctive
      relief. If this Section is found to be illegal or unenforceable and such
      Dispute shall be decided by a court of competent jurisdiction within the
      courts listed for jurisdiction above, and you and RICH HONEY PRIVATE LABEL
      agree to submit to the personal jurisdiction of that court.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']Class Action Waiver

  p.intro-text[style='margin: 10px 0 !important;'] Except as otherwise provided
    | in this Provision, the arbitrator may not consolidate more than one
      person’s claims, and may not otherwise preside over any form of a class
      or representative proceeding or claims (such as a class action,
      consolidated action or private attorney general action) unless both
      you and RICH HONEY PRIVATE LABEL specifically agree to do so following
      initiation of the arbitration. If you choose to pursue your Dispute in
      court by opting out of the Arbitration Provision, as specified above,
      this Class Action Waiver will not apply to you. Neither you, nor any other
      user of the Website can be a class representative, class member, or
      otherwise participate in a class, consolidated, or representative proceeding
      without having complied with the opt-out requirements above.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']Jury Waiver

  p.intro-text[style='margin: 10px 0 !important;']BY AGREEING TO THESE TERMS,
    | YOU HEREBY IRREVOCABLY WAIVE ANY RIGHT YOU MAY HAVE TO A COURT TRIAL
      (OTHER THAN SMALL CLAIMS COURT) OR TO SERVE AS A REPRESENTATIVE, AS A
      PRIVATE ATTORNEY GENERAL, OR IN ANY OTHER REPRESENTATIVE CAPACITY, OR
      TO PARTICIPATE AS A MEMBER OF A CLASS OF CLAIMANTS, IN ANY LAWSUIT,
      ARBITRATION OR OTHER PROCEEDING FILED AGAINST US AND/OR RELATED THIRD
      PARTIES. Other rights that you would have if you went to court, such as
      the right to appeal and to certain types of discovery, may be more
      limited or may also be waived.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']Judicial Forum for Legal Disputes

  p.intro-text[style='margin: 10px 0 !important;']Unless you and we agree
    | otherwise, in the event that the agreement to arbitrate above is found not
      to apply to you or to a particular claim or dispute, either as a result of
      your decision to opt out of the agreement to arbitrate, as a result of a
      decision by the arbitrator or a court order or because you have chosen to
      file an eligible lawsuit in small claims court, you agree that any claim
      or dispute that has arisen or may arise between you and RICH HONEY
      PRIVATE LABEL must be resolved exclusively by a state, federal, or
      small claims court located in Los Angeles County, California.
      You and FabFitFun agree to submit to the exclusive personal jurisdiction
      of the courts located within Los Angeles County, California for the purpose
      of litigating all such claims or disputes.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']Statute of Limitations
  p.intro-text[style='margin: 10px 0 !important;']REGARDLESS OF ANY STATUTE OR
    | LAW TO THE CONTRARY, ANY CLAIM OR CAUSE OF ACTION ARISING OUT OF OR RELATED
      TO USE OF THE WEBSITE, SERVICES, OR THE TERMS MUST BE FILED WITHIN ONE (1)
      YEAR AFTER SUCH CLAIM OR CAUSE OF ACTION ARISES OR IT WILL BE FOREVER BARRED.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']Continuation
  p.intro-text[style='margin: 10px 0 !important;'] These Terms for Disputes
    | shall survive the termination of your service with RICH HONEY PRIVATE LABEL
      or its affiliates. Notwithstanding any provision in these Terms to the
      contrary, we agree that if RICH HONEY PRIVATE LABEL makes any change to this
      Section, you may reject any such change and require RICH HONEY PRIVATE LABEL
      to adhere to the language in this Section if a dispute between us arises.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']CORRECTIONS
  p.intro-text[style='margin: 10px 0 !important;'] Occasionally there may be
    | information on the Website that contains typographical errors, inaccuracies,
      or omissions that may relate to service descriptions, pricing, availability,
      and various other information. RICH HONEY PRIVATE LABEL reserves the right
      to correct any errors, inaccuracies, or omissions and to change or update
      the information at any time, without prior notice.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']DISCLAIMERS
  p.intro-text[style='margin: 10px 0 !important;']RICH HONEY PRIVATE LABEL
    | cannot control the nature of all of the content available on the Website.
      By operating the Website, RICH HONEY PRIVATE LABEL does not represent or
      imply that it endorses any blogs, contributions, or other content available
      on or linked to by the Website, including without limitation content hosted
      on Third Party Websites or provided by third party applications, or that
      RICH HONEY PRIVATE LABEL believes contributions, blogs, or other content
      to be accurate, useful or non-harmful. RICH HONEY PRIVATE LABEL is not
      responsible for the conduct, whether online or offline, of any user of
      the Website or Services.

  p.intro-text[style='margin: 10px 0 !important;'] YOU AGREE THAT YOUR USE OF
    | THE WEBSITE AND/OR SERVICES WILL BE AT YOUR SOLE RISK. RICH HONEY PRIVATE
      LABEL MAKES NO EXPRESS, IMPLIED OR STATUTORY REPRESENTATIONS, WARRANTIES,
      OR GUARANTEES IN CONNECTION WITH THIS WEBSITE, THE SERVICES, OR ANY
      MATERIALS RELATING TO THE QUALITY, SUITABILITY, TRUTH, ACCURACY OR
      COMPLETENESS OF ANY INFORMATION OR MATERIAL CONTAINED OR PRESENTED ON THIS
      SITE, INCLUDING WITHOUT LIMITATION THE MATERIALS. UNLESS OTHERWISE EXPLICITLY
      STATED, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THIS WEBSITE, THE
      SERVICES, AND MATERIALS AND ANY INFORMATION OR MATERIAL CONTAINED OR PRESENTED
      ON THIS SITE IS PROVIDED TO YOU ON AN “AS IS,” “AS AVAILABLE” AND “WHERE-IS”
      BASIS WITH NO WARRANTY OF IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A
      PARTICULAR PURPOSE, OR NON-INFRINGEMENT OF THIRD PARTY RIGHTS. RICH HONEY PRIVATE
      LABEL ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (A) PERSONAL INJURY OR PROPERTY
      DAMAGE, OR ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR WEBSITE,
      (B) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND
      ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN (C)
      ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE WEBSITE OR COMPANY
      SERVICES, (D) ANY BUGS, VIRUSES, SPYWARE OR MALWARE THAT MAY BE INSTALLED
      ON YOUR COMPUTER, AND/OR (E) ANY ERRORS OR OMISSIONS IN ANY CONTENT AND
      MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF
      THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE
      VIA THE WEBSITE. RICH HONEY PRIVATE LABEL DOES NOT WARRANT, ENDORSE,
      GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED
      OR OFFERED BY A THIRD PARTY THROUGH THE WEBSITE OR ANY HYPERLINKED
      WEBSITE AND RICH HONEY PRIVATE LABEL WILL NOT BE IN ANY WAY RESPONSIBLE
      FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD PARTY PROVIDERS OF
      PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH
      ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT
      AND EXERCISE CAUTION WHERE APPROPRIATE.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']LIMITATIONS OF LIABILITY
  p.intro-text[style='margin: 10px 0 !important;']RICH HONEY PRIVATE LABEL SHALL
    | NOT BE LIABLE TO YOU FOR ANY DAMAGES RESULTING FROM YOUR DISPLAYING, COPYING,
      OR DOWNLOADING ANY MATERIALS TO OR FROM THIS WEBSITE. TO THE FULLEST EXTENT
      PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL RICH HONEY PRIVATE LABEL BE
      LIABLE TO YOU FOR ANY INDIRECT, EXTRAORDINARY, EXEMPLARY, PUNITIVE, SPECIAL,
      INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING LOSS OF DATA, REVENUE,
      PROFITS, USE OR OTHER ECONOMIC ADVANTAGE) HOWEVER ARISING, EVEN IF RICH
      HONEY PRIVATE LABEL KNOWS THERE IS A POSSIBILITY OF SUCH DAMAGES.
      OUR AGGREGATE LIABILITY ARISING OUT OF OR RELATED TO THESE TERMS SHALL
      NOT BE MORE THAN THE AMOUNT PAID, IF ANY, BY YOU TO RICH HONEY PRIVATE LABEL
      FOR THE SERVICES DURING THE PERIOD OF THREE MONTHS PRIOR TO ANY CAUSE OF
      ACTION ARISING.


  p.intro-text[style='margin: 10px 0 !important;']CERTAIN STATE LAWS DO NOT ALLOW
    | LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN
      DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS OR
      LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.

  p.intro-text[style='margin: 10px 0 !important;']IF YOU ARE A CALIFORNIA RESIDENT,
    | YOU WAIVE CALIFORNIA CIVIL CODE SECTION 1542, WHICH SAYS: “A GENERAL
      RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT
      TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH, IF KNOWN BY
      HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR.”

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']INDEMNITY
  p.intro-text[style='margin: 10px 0 !important;']You agree to defend, indemnify
    | and hold harmless RICH HONEY PRIVATE LABEL, its subsidiaries, and affiliates
      and their respective directors, officers, employees and agents (the
      “Indemnified Parties”) from and against any and all claims, damages, losses,
      liabilities and expenses (including attorneys’ fees) incurred in connection
      with any third party claim brought or asserted against any of your contributed
      content, use of the Services, and/or arising from a breach of these Terms
      and/or any breach or your representations and warranties set forth above.
      Notwithstanding the foregoing, for which you are required to indemnify
      RICH HONEY PRIVATE LABEL, and you agree to cooperate, at your expense,
      with RICH HONEY PRIVATE LABEL’s defense of such claims. RICH HONEY PRIVATE
      LABEL will use reasonable efforts to notify you of any such claim, action,
      or proceeding which is subject to this indemnification upon becoming aware of it.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']NOTICES
  p.intro-text[style='margin: 10px 0 !important;']Unless explicitly stated otherwise,
    | any notices given to RICH HONEY PRIVATE LABEL shall be given by e-mail to
      the address listed in the contact information below. Any notices given to
      you shall be given to the e-mail address you provided during the registration
      process, or such other address as each party may specify. Notices shall be
      deemed to be given twenty-four (24) hours after the e-mail is sent, unless
      the sending party is notified that the e-mail address is invalid. We may
      also choose to send notices by regular mail.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']USER DATA
  p.intro-text[style='margin: 10px 0 !important;']The Website will maintain
    | certain data that you transfer to the Website for the purpose of the
      performance of the Services, as will as data relating to your use of the
      Services. Although we perform regular routine backups of data, you are
      primarily responsible for all data that you have transferred or that
      relates to any activity you have undertaken using the Services. You agree
      that RICH HONEY PRIVATE LABEL shall have no liability to you for any loss
      or corruption of any such data, and you hereby waive any right of action
      against RICH HONEY PRIVATE LABEL arising from any such loss or corruption
      of such data.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']ELECTRONIC CONTRACTING
  p.intro-text[style='margin: 10px 0 !important;']Your use of the Services includes
    | the ability to enter into agreements and/or to make transactions electronically.
      YOU ACKNOWLEDGE THAT YOUR ELECTRONIC SUBMISSIONS CONSTITUTE YOUR AGREEMENT
      AND INTENT TO BE BOUND BY AND TO PAY FOR SUCH AGREEMENTS AND TRANSACTIONS.
      YOUR AGREEMENT AND INTENT TO BE BOUND BY ELECTRONIC SUBMISSIONS APPLIES
      TO ALL RECORDS RELATING TO ALL TRANSACTIONS YOU ENTER INTO RELATING TO
      THE COMPANY SERVICES, INCLUDING NOTICES OF CANCELLATION, POLICIES, CONTRACTS,
      AND APPLICATIONS.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']MISCELLANEOUS
  p.intro-text[style='margin: 10px 0 !important;']These Terms (and all policies,
    | terms and conditions referenced herein) constitute the entire agreement
      between you and RICH HONEY PRIVATE LABEL regarding your use of the Website,
      Services and products provided by RICH HONEY PRIVATE LABEL, and supersede
      any prior agreements between you and RICH HONEY PRIVATE LABEL on the subject
      matter. The failure of RICH HONEY PRIVATE LABEL to exercise or enforce any
      right or provision of these Terms shall not operate as a waiver of such
      right or provision. The section titles in these Terms are for convenience
      only and have no legal or contractual effect. These Terms operate to the
      fullest extent permissible by law. These Terms and your account may not be
      assigned by you without our express written consent. RICH HONEY PRIVATE
      LABEL may assign any or all of its rights and obligations to others at
      any time. RICH HONEY PRIVATE LABEL shall not be responsible or liable for
      any loss, damage, delay, or failure to act caused by any cause beyond RICH
      HONEY PRIVATE LABEL’s reasonable control. If any provision or part of a
      provision of these Terms is unlawful, void, or unenforceable, that provision
      or part of the provision is deemed severable from the Terms and does not
      affect the validity and enforceability of any remaining provisions. These
      Terms bind and inure to the benefit of each party and the party’s successors
      and permitted assigns. A party’s failure or delay in exercising any right,
      power or privilege under these Terms will not waive its rights to exercise
      such right, power, or privilege in the future, nor will any single or
      partial exercise of any right, power or privilege preclude any other or
      further exercise of such right, power, or privilege, or the exercise of
      any other right, power, or privilege under these Terms. No agency,
      partnership, joint venture or employee-employer relationship is intended
      or created by these Terms. You agree to comply with all applicable laws
      in your use of the Website and Services. These Terms will not be construed
      against the drafter. “include(s)” or “including” means, respectively,
      “include(s), without limitation,” or “including, without limitation,”,
      unless expressly stated otherwise. You hereby waive any and all defenses
      you may have based on the electronic form of these Terms and the lack of
      signing by the parties hereto to execute these Terms.

  p.intro-text[style='margin: 10px 0 !important; font-weight: bold;']CONTACT US
  p.intro-text[style='margin: 10px 0 !important;']This Website and Services are
    | provided by RICH HONEY INC., 919 E. Slauson Ave. Los Angeles, CA 90011. In
      order to resolve a complaint or receive further information from RICH HONEY
      PRIVATE LABEL, please contact the Company as set forth below.

  p.intro-text[style='margin: 10px 0 !important;']California residents may reach
    | the Complaint Assistance Unit of the Division of Consumer Services of the
      California Department of Consumer Affairs by post at 1625 North Market Blvd.,
      Sacramento, CA 95834 or by telephone at (916) 445-1254 or (800) 952-5210 or
      Hearing Impaired at TDD (800) 326-2297 or TDD (916) 322-1700.

  p.intro-text  Rich Honey Inc.
  p.intro-text  919 E. Slauson Ave. Los Angeles, CA 90011
  p.intro-text  E-mail: sales@richhoney.us
  p.intro-text  Phone: (213) 905-3205
  p.intro-text  Updated on: January 19, 2017
